.skills-parentContainer {
    height: auto;
    width: 100%;
    background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
    padding: 0px 100px;
}

.skills-section-one{
    padding: 0px 50px;
}