.header-section-one {
    width: 50%;
    height: 730px;
    flex-shrink: 0;
    background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
    padding: 0px 68px 0px 100px
}

.header-section-two {
    width: 50%;
    height: 730px;
    flex-shrink: 0;
    background: rgba(1, 1, 1, 1)
}

.header-parent {
    display: flex;
    flex-wrap: wrap;
}

.header-section-one-headding {
    padding-top: 60px;
}

.header-section-one-headding h1 {
    color: #FEFEFE;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    width: 322px;
}

.header-section-one-headding p {
    color: #CFCFCF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

.header-navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.header-section-one-paragraph {
    width: 460px;
    color: #CFCFCF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180.3%;
    padding-top: 30px;
}

.btn-1 {
    padding: 10px 15px;
    border-radius: 50px;
    background: #FEFEFE;
    color: #010101;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-2 {
    color: #CFCFCF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}

.header-section-one-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header-section-one-buttons {
    margin-top: 30px;
}

.header-navigation a {
    color: #FEFEFE;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-section-one-logo {
    padding: 50px 0px 0px 0px;
}

.header-navigation {
    padding: 50px 0px 0px 0px;
}


.header-section-two-image {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo-title {
    font-family: 'Phudu', sans-serif;
    font-weight: 600;
    color:#4b6cb7;
}

@media screen and (max-width: 1395px) {
    .header-section-one {
        width: 50%;
        height: 730px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 68px 0px 114px;
    }
}


@media screen and (max-width: 1275px) {
    .header-section-two-image img {

        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 1213px) {
    .header-section-one {
        width: 50%;
        height: 730px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 68px 0px 80px;
    }
}

@media screen and (max-width: 1213px) {
    .header-section-two {
        width: 50%;
        height: 588px;
    }

    .header-section-one {
        width: 50%;
        height: 588px;
    }
}


@media screen and (max-width: 1111px) {
    .header-section-one-paragraph {
        width: 420px;
    }
}

@media screen and (max-width:966px) {

    .header-section-one {
        width: 50%;
        height: 588px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 68px 0px 57px
    }

}

@media screen and (max-width:966px) {

    .header-navigation a {
        color: #FEFEFE;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

@media screen and (max-width:966px) {

    .header-section-two-image img {

        width: 350px;
        height: 350px;
    }

}

@media screen and (max-width: 928px) {

    .header-section-one {
        width: 50%;
        height: 588px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 68px 0px 50px;
    }
}

@media screen and (max-width: 928px) {
    .header-section-one-headding h1 {
        color: #FEFEFE;
        font-family: Poppins;
        font-size: 45px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
        width: 300px;
    }
}

@media screen and (max-width: 904px) {
    .header-section-one {
        width: 50%;
        height: 588px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 68px 0px 44px;
    }

}

@media screen and (max-width: 865px) {


    .header-section-one-headding h1 {
        color: #FEFEFE;
        font-family: Poppins;
        font-size: 35px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
        width: 300px;
    }
}

@media screen and (max-width: 859px) {


    .header-section-one-paragraph {
        width: 340px;
    }
}

/* @media screen and (max-width: 769px) {
    .header-parent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

} */

@media screen and (max-width: 791px) {
    .header-navigation {
        display: none;

    }
}


.headersection-two-navigation-mobile-responsive {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 50px 0px 0px
}

.scale-up-center {
    --webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    position: absolute;
    top: 75px;
    background: black;
    right: 0px;
    padding: 23px;
    text-align: center;
    border: 2px solid black;
    /* border-radius: 0px 0px 10px 10px; */
    width: 50%;
    height: 100%;

}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.header-navigation-mobile {
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-top: 65px;
}

.header-navigation-mobile a {
    color: #FEFEFE;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (min-width : 791px) {

    .headersection-two-navigation-mobile-responsive {

        display: none;

    }
}

@media screen and (max-width: 966px) {

    .header-section-two-image img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 747px) {

    .header-section-one {
        width: 50%;
        height: 588px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 68px 0px 34px;
    }
}

@media screen and (max-width: 747px) {


    .header-section-one-paragraph {
        width: 310px;
    }
}


@media screen and (max-width: 658px) {

    .header-section-one-headding h1 {
        color: #FEFEFE;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
        width: 300px;
    }
}

@media screen and (max-width: 658px) {


    .header-section-one-paragraph {
        width: 268px;
    }

    .btn-2 {
        color: #CFCFCF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: underline;
    }
}


@media screen and (max-width: 652px) {


    .header-section-two-image img {
        width: 255px;
        height: 255px;
    }
}


@media screen and (max-width: 606px) {

    .header-section-one {
        width: 50%;
        height: 588px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 68px 0px 20px;
    }
}

@media screen and (max-width: 582px) {
    .header-parent {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .header-section-two {
        width: 100%;
        height: 690px;
        padding-bottom: 50px;
    }

    .header-section-one {
        width: 100%;
        height: 588px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 68px 0px 20px;
    }

    .scale-up-center {
        --webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        position: absolute;
        top: 75px;
        background: black;
        right: 0px;
        padding: 23px;
        text-align: center;
        border: 2px solid black;
        /* border-radius: 0px 0px 10px 10px; */
        width: 100%;
        height: 100%;
    }

    .header-section-two-image img {
        width: 500px;
        height: 500px;
    }

    .header-section-one-paragraph {
        width: auto;
    }

    .header-section-one {
        width: 100%;
        height: auto;
    }

    .headersection-two-navigation-mobile-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 40px 0px 40px;
    }

    .logo-title {
        display: none;
    }

    .header-section-one-headding {
        padding-top: 30px;
    }

    .header-section-one {
        width: 100%;
        height: 400px;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 40px 0px 40px;
    }

    .scale-up-center {
        --webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        position: absolute;
        top: 88px;
        background: black;
        right: 0px;
        padding: 23px;
        text-align: center;
        border: 2px solid black;
        width: 100%;
        height: 100%
    }

    .header-section-one {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        background: linear-gradient(147deg, #1E1F1D 1.46%, #1A1C18 99.06%);
        padding: 0px 40px 40px 40px;
    }

    .header-section-two {
        width: 100%;
        height: auto;
        padding-bottom: 50px;

    }
}

@media screen and (min-width: 583px) {
    .logo-title-section-two {
        display: none;
    }
}

@media screen and (max-width: 506px) {

    .header-section-two-image img {
        width: 380px;
        height: 380px;
    }
}

@media screen and (max-width: 386px) {

    .header-section-two-image img {
        width: 308px;
        height: 309px;
    }
}



@media screen and (max-width: 345px) {


    .header-section-one-headding h1 {
        color: #FEFEFE;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
        width: auto;
    }
}

@media screen and (max-width: 327px) {
    .header-section-two-image img {
        width: 270px;
        height: 270px;
    }

}

@media screen and (max-width: 292px) {

    .header-section-two-image img {
        width: 240px;
        height: 240px;
    }
}