.skills-box-parent {
    margin: 50px 0px;
    display: flex;
    grid-template-columns: 147px 1fr;
    width: fit-content;
    flex-wrap: wrap;
    gap: 30px;
}

.skillbox-title h2 {
    color: white;
    font-family: poppins;
    
}

.skillbox-para p{
    color: #CFCFCF;
    font-family: Poppins;
    font-size: 16px;
    line-height: 120%;
}
.skills-box-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.skills-box-image img{
    width: 90px;
    
}

.skills-box-content{
    width: 30%;
}